html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#cdd7ea, #dbb1c8);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.781);
    border-radius: 10px;
}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #e3accc;
    font-size: 12px;
}

.login-box form a {
    background:rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
    left: 88px;
    border-radius: 10px;
    padding: 20px 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    transition: 00.5s;
    margin-top: 10px;
    letter-spacing: 2px;
}

.login-box a:hover {
    background: #e3accc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #e3accc, 0 0 25px #e3accc, 0 0 50px #e3accc, 0 0 100px #e3accc;
}
span{
    position: absolute;
    color: #ffffff;
    top: 10px;
    right: 1px;
    opacity: 0.4;
    transition: 0.8s;
}
span.active{
    opacity: 2;
    transition: 0.5s;
}

#eye:hover{
    opacity: 2;
    transition: 1s;
}
